---
---

@import "{{ site.theme }}";


body {
  background-image: url('/assets/images/maple.jpeg');
  background-position: center;
  background-size: cover; 
  background-repeat: repeat;
}
 

sidebar {
  text-align: center;
}
